# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
ij_any_block_comment_at_first_column = false
ij_any_line_comment_at_first_column = false
ij_any_line_comment_add_space_on_reformat = true
ij_any_line_comment_add_space = true
ij_any_block_comment_add_space = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py,html}]
charset = utf-8